#config_version=6
# modes/base/config/base.yaml
mode:
  start_events: ball_starting
  stop_events: ball_will_end
  priority: 100

config:
  - base_points.yaml
  - varitarget.yaml
  #- consume_qualify.yaml

event_player:
  mode_base_started: BASE_YAML_LOADED
  s_03_service_enter_active: end_game

variable_player:
  mode_base_started:
    pf_multiplier:
      action: set
      int: 1
