#config_version=6
mode:
  start_events: ball_starting
  stop_events: ball_will_end
  priority: 100

config:
  - base_points.yaml
  - varitarget.yaml

event_player:
  mode_base_started: BASE_YAML_LOADED
