#config_version=6

# Base mode that starts at the beginning of each ball
# and stops at the end of each ball.

mode:
  start_events: ball_starting
  stop_events: ball_ended
  priority: 100

event_player:
  mode_base_started:
    - drop_target_dt_single_reset
    - drop_target_bank_dt_bank_1_4_reset
    - drop_target_bank_dt_bank_5_7_reset
    - drop_target_dt_single_knockdown|5s



