#config_version=6
#super_pops.yaml
mode:
  start_events: mode_base_started
  stop_events: mode_base_stopping, game_ended
  priority: 210

config:
  - super_pops_points.yaml

mode_settings:
  phase1_multiplier: 2
  phase1_time: 10

  phase2_multiplier: 3
  phase2_time: 15

  phase3_multiplier: 5
  phase3_time: 15

  mega_multiplier: 5
  mega_time: 20

# -------------------------
# COUNTERS
# -------------------------
counters:
  super_pops_phase1_counter:
    count_events:
      - s_56_pop_bumper_right_active
      - s_57_pop_bumper_center_active
      - s_58_pop_bumper_left_active
    count_complete_value: 5
    events_when_complete: super_pops_phase1_start
    enable_events: mode_super_pops_started
    reset_events: mode_super_pops_started
    reset_on_complete: true
    disable_on_complete: true

  super_pops_phase2_counter:
    count_events:
      - s_56_pop_bumper_right_active
      - s_57_pop_bumper_center_active
      - s_58_pop_bumper_left_active
    count_complete_value: 10
    events_when_complete: super_pops_phase2_start
    enable_events: super_pops_phase1_start
    reset_events: super_pops_phase1_start
    reset_on_complete: true
    disable_on_complete: true

  super_pops_phase3_counter:
    count_events:
      - s_56_pop_bumper_right_active
      - s_57_pop_bumper_center_active
      - s_58_pop_bumper_left_active
    count_complete_value: 15
    events_when_complete: super_pops_phase3_start
    enable_events: super_pops_phase2_start
    reset_events: super_pops_phase2_start
    reset_on_complete: true
    disable_on_complete: true

  super_pops_mega_counter:
    count_events:
      - s_56_pop_bumper_right_active
      - s_57_pop_bumper_center_active
      - s_58_pop_bumper_left_active
    count_complete_value: 10
    events_when_complete: super_pops_mega_start
    enable_events: super_pops_phase3_start
    reset_events: super_pops_phase3_start
    reset_on_complete: true
    disable_on_complete: false


# -------------------------
# TIMER
# -------------------------
# timers:
#   super_pops_mult_timer:
#     direction: down
#     start_value: 1
#     end_value: 0
#     tick_interval: 1s
#     control_events:
#       - event: super_pops_timer_phase1
#         action: jump
#         value: mode_settings.phase1_time
#       - event: super_pops_timer_phase1
#         action: start

#       - event: super_pops_timer_phase2
#         action: jump
#         value: mode_settings.phase2_time
#       - event: super_pops_timer_phase2
#         action: start

#       - event: super_pops_timer_phase3
#         action: jump
#         value: mode_settings.phase3_time
#       - event: super_pops_timer_phase3
#         action: start

#       - event: super_pops_timer_mega
#         action: jump
#         value: mode_settings.mega_time
#       - event: super_pops_timer_mega
#         action: start
timers:
  super_pops_mult_timer:
    direction: down
    tick_interval: 1s
    control_events:
      - event: super_pops_timer_phase1_jump
        action: jump
        value: 10
      - event: super_pops_timer_phase1_start
        action: start

      - event: super_pops_timer_phase2_jump
        action: jump
        value: 15
      - event: super_pops_timer_phase2_start
        action: start

      - event: super_pops_timer_phase3_jump
        action: jump
        value: 15
      - event: super_pops_timer_phase3_start
        action: start

      - event: super_pops_timer_mega_jump
        action: jump
        value: 20
      - event: super_pops_timer_mega_start
        action: start


# -------------------------
# EVENTS
# -------------------------
event_player:
  super_pops_timer_phase1:
    - super_pops_timer_phase1_jump
    - super_pops_timer_phase1_start|0.1s

  super_pops_timer_phase2:
    - super_pops_timer_phase2_jump
    - super_pops_timer_phase2_start|0.1s

  super_pops_timer_phase3:
    - super_pops_timer_phase3_jump
    - super_pops_timer_phase3_start|0.1s

  super_pops_timer_mega:
    - super_pops_timer_mega_jump
    - super_pops_timer_mega_start|0.1s
 
  super_pops_phase1_start:
    - super_pops_timer_phase1

  super_pops_phase2_start:
    - super_pops_timer_phase2

  super_pops_phase3_start:
    - super_pops_timer_phase3

  super_pops_mega_start:
    - super_pops_timer_mega

# -------------------------
# VARIABLES (ONE BLOCK ONLY)
# -------------------------
variable_player:
  mode_super_pops_started:
    score: 1000000
    super_pops_multiplier:
      action: set
      int: 1

  super_pops_phase1_start:
    super_pops_multiplier:
      action: set
      int: 2

  super_pops_phase2_start:
    super_pops_multiplier:
      action: set
      int: 3

  super_pops_phase3_start:
    super_pops_multiplier:
      action: set
      int: 5

  super_pops_mega_start:
    super_pops_multiplier:
      action: set
      int: 5

  timer_super_pops_mult_timer_complete:
    super_pops_multiplier:
      action: set
      int: 1

