#config_version=6
# config/config.yaml
#
# ------------------------
# MODES::
# ------------------------ 
modes:
    - attract
    #- service
    - base
    - spinner_2x_qualify
    - spinner_2x
    - super_pops
    - skillshot
    - stars_mode
    - brian_combo
    - autoplunge
    #- consume
# --------------------
# CONFIG::FILES
# --------------------
#
config:
  - config_hardware.yaml
  - config_ball_devices.yaml
  - device_config_lights_led.yaml
  - device_config_game.yaml
  - device_config_iomap.yaml
  - device_config_iomap_coils.yaml
  - config_testing.yaml
  - config_ball_save.yaml

# --------------------
# CONFIG::GAME
# --------------------
#
game:
  balls_per_game: 3
  max_players: 1
machine:
  balls_installed: 1 #How many balls are physically in your game
  min_balls: 1 #How few balls can be accounted for before you can start a game
# ------------------------
# PLAYFIELDS:
# ------------------------ 
playfields:
    playfield:
        default_source_device: bd_plunger
        tags: default