#config_version=6
#
## MPF Main Machine Config File
#
# This file defines your system-wide properties like switches,
# drivers, ball devices, hardware platforms, and more. You can
# include everything here, or create sub-config files to be
# imported and merged with this one.
# --------------------
# CONFIG::FILES
# --------------------
#
config:
  - config_ball_devices.yaml
  - device_config_lights_led.yaml
  - device_config_game.yaml
  - device_config_iomap.yaml
  - device_config_iomap_coils.yaml
# ------------------------
# CONFIG::MPF
# ------------------------
mpf:
   default_light_hw_update_hz: 24
# ------------------------
# CONFIG::HARDWARE
# ------------------------
hardware:
    platform: fast
    driverboards: fast
    # segment_displays: fast
    lights: fast
# ------------------------
# CONFIG::FAST
# ------------------------
fast:
  net:
    controller: neuron
    io_loop:
      cab:
        model: FP-I/O-0804
        order: 1
      pf1:
        model: FP-I/O-1616
        order: 2
      pf2:
        model: FP-I/O-3208
        order: 3
      pf3:
        model: FP-I/O-1616
        order: 4
    port: auto
    baud: 921600
    debug: false
    watchdog: 1s
    default_quick_debounce_open: 2ms
    default_quick_debounce_close: 2ms
    default_normal_debounce_open: 4ms
    default_normal_debounce_close: 4ms
  exp:
    boards:
      ledneuron:
        model: FP-EXP-2000
        address: 48
        led_fade_time: 100ms
        ignore_led_errors: true
      ledpf1:
        model: FP-EXP-0081
        address: 84
        led_fade_time: 100ms
        ignore_led_errors: true
#       ledpf2:
#         model: FP-EXP-0081
#         address: 85
#         led_fade_time: 50ms
#         #ignore_led_errors: true
# ------------------------
# MODES::
# ------------------------ 
modes:
    - attract
    # - abc_feature
    # - one_two_three_in_sequence
    # - base
    # - blue_and_green_bonus
    # - bonus
    # - bonus_special
    # - credits
    # - extra_ball
    # - high_score
    # - match
    # - multiball_controller_jp
    # - pop_bumper_bonus
    # - service
    # - spinner_feature
    # - tilt
#
# ------------------------
# PLAYFIELDS::
# ------------------------ 
playfields:
    playfield:
        tags: default
        default_source_device: bd_trough


